#nav {
	position: absolute;
	right: 0;
	top: 0;
	background-color: $white;
	width: 305px;
	height: 100%;
	ul {
		font-size: 2em;
		padding: 1em;
		margin: 32px 0;
		li {
			margin-bottom: .2em;
			a {
				color: $black;
				&:hover, &.active {
					color: $green;
				}
			}
		}
	}
}